# Ignore Compiled Binary Files

a.exe
*.dll
*.so
*.dylib
dist/

# Temporary Files

temp/
test/test.cpp
test/*.exe
test/.krypton/

#   IDE and Editor files

.vscode/
.idea/
*.sdf
*.suo
*.ncb
*.vcxproj*
*.xcodeproj
*.DS_Store

# Ignore Logs and temp files

*.log
*.tmp
*.swp
*.bak
*.cache

# Ignore dependency files
*.d
*.dep